# Python bytecode
**/__pycache__/
*.py[cod]

# Virtual environments
.venv/
env/
venv/

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3            # if you ever accidentally create one

# Environment variables
.env

# macOS
.DS_Store

# Linux
*.swp

# Windows
Thumbs.db
