@import "tailwindcss";

/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@plugin "daisyui";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@source "../../../../**/*.{html,htm,py,js,jsx,ts,tsx}";

@theme {
  --ember-primary: oklch(0.5948 0.168676 45.4846);  
  --ember-secondary: oklch(0.6345 0.1834 39.43);   
  --ember-accent: oklch(0.81 0.1525 73.74);
  --ember-neutral: oklch(0.5103 0 0);               
  --ember-base: oklch(0.2264 0 0);                 
  --ember-highlight: oklch(0.7665 0.1387 91.06); 
}

@media (prefers-color-scheme: dark){
  @theme {
    --ember-primary: oklch(0.6345 0.1834 39.43);
    --ember-secondary: oklch(0.5948 0.168676 45.4846);
    --ember-accent: oklch(0.81 0.1525 73.74);
    --ember-neutral: oklch(0.5103 0 0);
    --ember-base: oklch(0.2264 0 0);
    --ember-highlight: oklch(0.7665 0.1387 91.06);
  }
}

@layer base {
  input,
  textarea,
  select {
    background-color: var(--ember-neutral) !important;
    color: #fff !important;
    border-color: var(--ember-accent) !important;
  }

  input::placeholder,
  textarea::placeholder {
    color: var(--ember-base) !important;
    opacity: 0.1;
  }

  [data-theme="light"] input[type="number"] {
    color: #fff !important;
  }

  [data-theme="light"] input[type="number"] {
    color: #fff !important;
  }
}


@layer utilities {
  .bg-fire-gradient {
    background: linear-gradient(
      135deg,
      var(--ember-primary),
      var(--ember-secondary),
      var(--ember-accent),
      var(--ember-highlight)
    );
  }

  .bg-size-200 {
    background-size: 200% 200% !important;
  }

  @keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

  .animate-gradientMove {
    animation: gradientMove 8s ease infinite !important;
  }

  .text-outline-shadow {
    --outline-color: white;
    text-shadow:
      -2px -2px 0 var(--outline-color),
       2px -2px 0 var(--outline-color),
      -2px  2px 0 var(--outline-color),
       2px  2px 0 var(--outline-color);
  }

  .text-sm-outline-shadow {
    --outline-color: white;
    text-shadow:
      -1px -1px 0 var(--outline-color),
       1px -1px 0 var(--outline-color),
      -1px  1px 0 var(--outline-color),
       1px  1px 0 var(--outline-color);
  }

  .active {
    color: var(--ember-highlight);
    text-decoration: underline;
    font-weight: bold;
  }
}