@import "tailwindcss";

/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@plugin "daisyui";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@source "../../../../**/*.{html,htm,py,js,jsx,ts,tsx}";

@theme {
  --color-ember-red: oklch(0.6345 0.1834 39.43);
  --color-burnt-orange: oklch(0.5948 0.168676 45.4846);
  --color-fiery-yellow: oklch(0.81 0.1525 73.74);
  --color-ash-gray: oklch(0.5103 0 0);
  --color-charcoal-black: oklch(0.2264 0 0);
  --color-molten-gold: oklch(0.7665 0.1387 91.06);
  --color-cool-dark-blue: oklch(0.177 0.120 259.5);
  --color-cool-medium-blue: oklch(0.483 0.135 236.2);
  --color-cool-light-blue: oklch(0.620 0.128 224.8);
  --color-cool-sky-blue: oklch(0.780 0.130 218.0);
}

@layer utilities {
  .bg-fire-gradient {
    background: linear-gradient(
      135deg,
      var(--color-ember-red),
      var(--color-burnt-orange),
      var(--color-fiery-yellow),
      var(--color-molten-gold)
    );
  }

  .bg-cool-gradient {
    background: linear-gradient(
      135deg,
      var(--color-cool-dark-blue),
      var(--color-cool-medium-blue),
      var(--color-cool-light-blue),
      var(--color-cool-sky-blue)
    );
  }

  .bg-size-200 {
    background-size: 200% 200%;
  }

  @keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

  .animate-gradientMove {
    animation: gradientMove 8s ease infinite;
  }

  .text-outline-shadow {
    --outline-color: white;
    text-shadow:
      -2px -2px 0 var(--outline-color),
       2px -2px 0 var(--outline-color),
      -2px  2px 0 var(--outline-color),
       2px  2px 0 var(--outline-color);
  }

  .active {
    @apply text-fiery-yellow underline font-bold;
  }
}