<dialog id="booking-cancelled-modal" class="modal">
  <div class="modal-box bg-[var(--ember-base)] text-white">
    <h3 class="font-bold text-lg mb-4 text-[var(--ember-highlight)]">Cancel Booking</h3>
    <p class="mb-4">Are you sure you want to cancel this booking?</p>
    <div class="modal-action flex justify-center gap-4">
      <form method="post" action="{% url 'booking:cancel_booking' %}" class="flex gap-4">
        {% csrf_token %}
        <input type="hidden" name="reference_code" value="">
        <button type="submit"
          class="btn w-32 bg-[var(--ember-neutral)] text-[var(--ember-highlight)] hover:bg-[var(--ember-highlight)] hover:text-[var(--ember-base)] shadow-lg">
          Yes
        </button>
        <button type="button"
          class="btn w-32 bg-[var(--ember-neutral)] text-[var(--ember-highlight)] hover:bg-[var(--ember-highlight)] hover:text-[var(--ember-base)] shadow-lg"
          id="close-cancel-btn">
          No
        </button>
      </form>
    </div>
  </div>
</dialog>