<!-- Social Signups -->
            {#
            <div class="flex flex-col gap-2">
                <a href="{% provider_login_url 'google' %}" class="btn btn-outline btn-primary w-full">Sign up with Google</a>
                <a href="{% provider_login_url 'facebook' %}" class="btn btn-outline btn-blue w-full">Sign up with Facebook</a>
                <a href="{% provider_login_url 'twitter' %}" class="btn btn-outline btn-gray w-full">Sign up with X</a>
            </div>
            #}

<!-- Social Logins -->
            {#
            <div class="flex flex-col gap-2">
                <a href="{% provider_login_url 'google' %}" class="btn btn-outline btn-primary w-full">Continue with Google</a>
                <a href="{% provider_login_url 'facebook' %}" class="btn btn-outline btn-blue w-full">Continue with Facebook</a>
                <a href="{% provider_login_url 'twitter' %}" class="btn btn-outline btn-gray w-full">Continue with X</a>
            </div>
            #}